<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container-fluid">
        <ul class="navbar-nav text-secondary">
          <li><button type="button" class="btn" (click)="toHome()" style="color: white;">
            Online Medical Searching</button></li>
        </ul>

        <div class="text-right">

          <button class="btn btn-link text-white" type="button" 
            (click)="toManagement()">
            Management
          </button>

          <button class="btn btn-link text-white" type="button" 
            (click)="toEmail()">
            eMail
          </button>

        </div>
      </div>

    </nav>
</header>