<div class="container">

    <div class="form-group">
      <label>Your Location</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" 
        placeholder="Search Your Location" autocorrect="off" autocapitalize="off" 
        spellcheck="off" type="text" #search style="width: 50%;">
    </div>

    <agm-map [latitude] = "latitude" [longitude]="longitude"
      [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" 
        (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>

</div>
