/* You can add global styles to this file, and also import other style files */

/* bootstrap */
/* @import url("~bootstrap/dist/css/bootstrap.css"); */

/* Angular material theme */
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */ 

body {
    background-color: rgb(241, 237, 237);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
